/***********HEADER***********/

header {
  background-color: transparent;
  padding: 30px;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

/***********BODY***********/

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: black;
  min-height: 100vh;
}

/***********IMAGES***********/

.choicesComp,
.choices {
  border: none;
  outline: none;
  font-size: 5rem;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.choice,
.random-choice {
  margin: 40px auto;
}

/***********SCORES***********/

.randomPlay {
  font-weight: bold;
  text-align: center;
  margin: 20 40 px;
  padding: 20px;
  background-color: white;
}

.score,
.scoreComputers {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  margin: 40px auto 20px auto;
  padding: 20px;
  border: 1px solid white;
  width: 285px;
}

#player_score,
#computer_score,
#computer_score1,
#computer_score2 {
  padding: 10px;
}

/***********PLAY MESSAGE - RESULTS***********/
.result,
.resultComp {
  color: white;
  width: 100%;
  text-align: center;
}

p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
}

.score_title {
  margin-top: 0;
}

/***********BUTTONS PLAY - RESET -***********/

.randomPlay:hover,
.restart:hover,
.reset_newGameC:hover,
.restart_newGameP:hover,
.computers_play:hover {
  box-shadow: 0px 0px 20px 1px rgb(245, 245, 191);
}

.computers_play,
.restart,
.reset_newGameC,
.restart_newGameP,
.randomPlay {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px 10px;
  bottom: 100px;
  cursor: pointer;
}

.computers_play,
.restart,
.reset_newGameC,
.restart_newGameP {
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
}

.randomPlay {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(168, 145, 16);
  margin: 5px;
}

.selectionCvC {
  display: none;
}

.button_container,
.button_container_computers {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/***********FOOTER***********/

footer {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  margin-top: 20px;
  text-align: center;
  color: #cecb37;
  padding-top: 20px;
}

footer p {
  font-size: 15px;
  left: 10px;
}

footer a {
  color: #cecb37;
}
